VITE_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here
VITE_ARCGIS_KEY=AAPTaAd2f2C7c_xfUCQS6ojXJPA..GdZnYPGT-7sxJiOQgGJU-7hSgRvaAk_mEv4cxyW7GcHM0iXNAmxiNcby9jOhn5fM4wcjJFFZIQptcETkzYPMFjKfEEWmJEWS8obSTeDBHVBXi8XhYPWfI-dKAc4U1uoDhuxMsR3QSbyGXlofzD_MIApM1WZPpJYUApzu5lHET3f-jCmsiSgdeDXhsZ8sNCdNYGhnEw2IgpxUVk4jtIK1uOeVdmHStn2xSW5OY9SO5PgskqAlMs57v3CG5EzLAT1_nw0YN0jc
